@model IEnumerable<Astan.Models.Client>
@using pep
@{
    ViewBag.Title = "";
}

<p>
    @Html.ActionLink("جدید", "Create")
</p>
<br />
<form action="/client/index" method="post">

    <input type="text" class="form-control"   name="obj" value="" placeholder="لطفا شماره ملی یا شماره موبایل مخدوم را وارد کنید" />
 <br />   <input type="submit" name="name" value="جستجو"  class="btn btn-default"/>
</form>

