@model Astan.Models.userGroup

@{
    ViewBag.Title = "حذف";
}


<h3>آیا مایل به حذف هستید؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userGroupName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" /> |
            @Html.ActionLink("بازگشت", "Index")
        </div>
    }
</div>
